<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.logeworks.logecrm</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>export PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:$PATH"; cd /Users/logeworks/logecrm && npm start</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/logeworks/logecrm/launch-out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/logeworks/logecrm/launch-err.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/logeworks/logecrm</string>
</dict>
</plist>
